/* About.module.css */
section {
    background-color: black;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.125rem;
  }
  
  button {
    padding: 12px 24px;
    background-color: #A855F7;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #9333EA;
  }
  